// BASIC RESET
p,
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-weight: unset;
}

p,
*:active,
*:focus {
    outline: none !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    @include respond(full-hd) {
        // 1920 <= width
        font-size: 112.5%; // 1rem = 18px
    }
    @include respond(big-desk) {
        // 1440px - 1919.98px
        font-size: 106.25%; // 1rem = 17px
    }
    @include respond(med-desk) {
        // 1200px - 1439.98px
        font-size: 100%; // 1rem = 16px
    }
    @include respond(desk) {
        // 992px - 1199.98px
        font-size: 93.75%; // 1rem = 15px
    }
    @include respond(mobile-hd) {
        // 768px - 991.98px
        font-size: 87.5%; // 1rem = 14px
    }
    @include respond(mobile) {
        // 576 - 767.98px
        font-size: 81.3%; // 1rem = 16 x 0.813 = 13px
    }
}
